@model IEnumerable<CMPT395Project.Models.EmployeeHour>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousMonth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.ContractId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousMonth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeSheetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeSheetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeSheetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
